.dealSoE {
  .rw-dropdown-list {
    width: 200px;
    .rw-widget-picker {
      height: 1.429em;
    }
  }
  .accordion .accordion-header + .accordion-body {
      overflow-y: visible !important;
  }
  overflow-y: visible;
}
