.searchInput {
  height: 2.25em !important;
  background: none !important;
  padding-bottom: calc(0.375em - 1px) !important;
  padding-left: calc(3em - 1px) !important;
  padding-right: calc(0.625em - 1px) !important;
  padding-top: calc(0.375em - 1px) !important;
}

.customPagination {
  display: none;
}

/* The switch - the box around the slider */
.customswitch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.customswitch input {display:none;}

/* The slider */
.customslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.customslider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .customslider {
  background-color: #3273dc;
}

input:focus + .customslider {
  box-shadow: 0 0 1px #3273dc;
}

input:checked + .customslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.customslider.round {
  border-radius: 34px;
}

.customslider.round:before {
  border-radius: 50%;
}

.switchContainer {
  display: flex;
  margin-bottom: 10px;
}

.filterText {
  margin-left:10px;
}

.g-container {
  padding: 10px;
  margin-top: 10px;
}

.rw-calendar-popup {
  tr:nth-child(even) {
    background-color: transparent;
  }
}
