.migtools{
  margin-top: 1.5rem;
  .stepLabel{
    padding: '5px';
  }

  .stepLabelSelected{
    font-weight: 500;
    border-left: 2px solid #209cee;
    padding: 5px;
  }

  .stepWizardWrapper{
    height: calc(100vh - 150px);
    display: flex;
  }

  .stepContainer{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column
  }

  .stepBody{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
    // min-height: 95%;
    .rt-table{
      max-width: 100%;
      overflow: unset !important;
    }
  }
 
  .inputFileContainer{
      position: relative;
      width: 400px;
      text-align: center;
      margin: auto;
      @media screen and (max-width: 768px) {
        width: 90% !important;
      }
    }

    .stepFooter{
      width: 100%
    }

    .inputFile{
      position: absolute;
      top: 0; left: 0;
      width: 400px;
      opacity: 0;
      padding: 14px 0;
      cursor: pointer;
      z-index: -1;
      text-align: center;
    }

    .inputFileTrigger{
      display: block;
      padding: 20px 30px;
      background: #3982CC;
      color: #fff;
      font-size: 1em;
      font-weight: 500;
      transition: all .4s;
      cursor: pointer;
      &:hover {background: #363636; color: #3982CC}
    }

    .returnFileName{
      font-style: italic;
      font-size: .9em;
      font-weight: bold;
    }

    .infoDiv{
      background: #3982CC;
      color: white;
      padding: 10px;
      text-align: center;
    }

    .rt-td{
      overflow: visible;
    }

    .mapping-input{
      width: 31%;
      display: inline-block;
      margin: 5px;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    .submitDataContainer{
      .action-button{
        display: inline-block;
        font-weight: 500;
        text-align: center;
        width: 300px;
        padding: 20px;
        border: 1px dashed;
        border-radius: 10px;
        cursor: pointer;
        transition: all .4s;
        &:hover{
          transform: scale(1.1);
        }
        &.excel-upload{
          color:#1fbd1f;
        }
        &.db-save{
          color: #3982CC;
        }
        .btn-icon{
          margin: 20px;
        }
        .btn-label{
            font-size: 20px;
            font-style: italic;
        }
      }
    }
}

.custom-ui{
  .body {
    color: black;
  }
}
