@font-face {
  font-family: "GoogleSans";
  src: url("fonts/GoogleSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GoogleSans";
  src: url("fonts/GoogleSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GoogleSans";
  src: url("fonts/GoogleSans-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "GoogleSans";
  src: url("fonts/GoogleSans-MediumItalic.ttf") format("truetype");
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: "GoogleSans";
  src: url("fonts/GoogleSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GoogleSans";
  src: url("fonts/GoogleSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

html {
  font-family: "GoogleSans", "Gravity" !important;
}
/*************** Extend/Inheritance *********************/
%icon-has-text-danger {
  .icon.has-text-danger {
    width: auto;
    height: auto;
    padding-left: 5px;
    vertical-align: middle;
    .fa-asterisk {
      height: auto;
    }
  }
}

.th-has-mandatory-astrisk {
  @extend %icon-has-text-danger;
}
/*************** Extend/Inheritance *********************/

/*************** Variables *********************/

$orange-shade: rgb(242, 151, 24);
$orange-lighter-shade: #efb418;
$family-sans-serif: "GoogleSans", "Gravity" !important;

$epo-blue: rgb(66, 136, 221);
$epo-blue-a: rgba(66, 136, 221, 0.7);
$blue: $epo-blue;
$link: $epo-blue;
$border-color: #dbdbdb;

/*************** Variables *********************/

a small:visited,
.has-text-link:visited {
  color: $orange-shade !important;
}

a small:active,
.has-text-link:active {
  color: $orange-shade !important;
}

a small:hover,
.has-text-link:hover {
  color: $orange-shade !important;
}

/*************** Accordion *********************/
.accordions .accordion {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 3px;
  font-size: 1rem;
}

.accordions .accordion:not(:last-child) {
  margin-bottom: 1.5rem;
}

.accordions .accordion strong {
  color: currentColor;
}

/* .accordions .accordion a:not(.button):not(.tag) {
    color: currentColor;
    text-decoration: underline; } */
.accordions .accordion.is-small {
  font-size: 0.75rem;
}

.accordions .accordion.is-medium {
  font-size: 1.25rem;
}

.accordions .accordion.is-large {
  font-size: 1.5rem;
}

.accordions .accordion:not(:first-child) .accordion-header {
  border-radius: 0;
}

.accordions .accordion:not(:last-child) {
  margin-bottom: 0;
}

.accordions .accordion:not(:last-child) .accordion-content {
  border-radius: 0;
}

.accordions .accordion .toggle,
.accordions .accordion [data-action="toggle"] {
  cursor: pointer;
}

.accordions .accordion .accordion-header {
  cursor: pointer;
  align-items: center;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;
  line-height: 1.25;
  padding: 0.5em 0.75em;
  position: relative;
  border-bottom: 2px solid $orange-shade;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.accordions .accordion .accordion-header .toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 0.75em;
  height: 20px;
  width: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
}

.accordions .accordion .accordion-header .toggle::before {
  color: white;
  display: block;
  left: 0;
  position: absolute;
  top: -0.1em;
  right: 0;
  bottom: 0;
  content: "+";
}

.accordions .accordion .accordion-header .toggle::after {
  display: none;
}
.accordion-overflow .accordions .accordion .accordion-header + .accordion-body {
  overflow-y: hidden;
}
.accordions .accordion .accordion-header + .accordion-body {
  max-height: 0;
  color: grey;
  border: 1px solid $border-color;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.accordions .accordion .accordion-header + .accordion-body .accordion-content {
  padding: 1em 1.25em;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.accordions
  .accordion
  .accordion-header
  + .accordion-body
  .accordion-content
  code,
.accordions
  .accordion
  .accordion-header
  + .accordion-body
  .accordion-content
  pre {
  background-color: white;
}

.accordions
  .accordion
  .accordion-header
  + .accordion-body
  .accordion-content
  pre
  code {
  background-color: transparent;
}

.accordions .accordion.is-active .accordion-header .toggle::before {
  content: "-";
}

.search-table-block.table-group-by {
  .accordions {
    .accordion {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}
.accordions.common-tasks-dashboard {
  .accordion {
    &.is-active {
      .accordion-header + .accordion-body {
        overflow-y: visible;
      }
    }
    .accordion-header + .accordion-body {
      overflow-y: hidden;
      -webkit-transition: max-height 0.2s ease;
      -moz-transition: max-height 0.2s ease;
      -o-transition: max-height 0.2s ease;
      transition: max-height 0.2s ease;
    }

    .field-saved-search {
      .button {
        margin-left: 10px;
      }
    }
    .field-save-search-btn {
      .button {
        margin-right: 10px;
      }
    }
  }
}

.accordions .accordion.is-active .accordion-body {
  // overflow: auto !important;
  max-height: 3000em;
}

.accordions .accordion.is-white {
  background-color: white;
}

.accordions .accordion.is-white .accordion-header {
  background-color: white;
  color: #0a0a0a;
}

.accordions .accordion.is-white .accordion-content {
  border-color: white;
  color: #4d4d4d;
}

.accordions .accordion.is-black {
  background-color: #fafafa;
}

.accordions .accordion.is-black .accordion-header {
  background-color: #0a0a0a;
  color: white;
}

.accordions .accordion.is-black .accordion-content {
  border-color: #0a0a0a;
  color: #090909;
}

.accordions .accordion.is-light {
  background-color: #fafafa;
}

.accordions .accordion.is-light .accordion-header {
  background-color: whitesmoke;
  color: #363636;
}

.accordions .accordion.is-light .accordion-content {
  border-color: whitesmoke;
  color: #505050;
}

.accordions .accordion.is-dark {
  background-color: #fafafa;
}

.accordions .accordion.is-dark .accordion-header {
  background-color: #363636;
  color: whitesmoke;
}

.accordions .accordion.is-dark .accordion-content {
  border-color: #363636;
  color: #2a2a2a;
}

.accordions .accordion.is-primary {
  background-color: #f5fffd;
}

.accordions .accordion.is-primary .accordion-header {
  background-color: #00d1b2;
  color: #fff;
}

.accordions .accordion.is-primary .accordion-content {
  border-color: #00d1b2;
  color: #021310;
}

.accordions .accordion.is-link {
  background-color: #f6f9fe;
}

.accordions .accordion.is-link .accordion-header {
  background-color: #3273dc;
  color: #fff;
}

.accordions .accordion.is-link .accordion-content {
  border-color: #3273dc;
  color: #22509a;
}

.accordions .accordion.is-info {
  background-color: #f6fbfe;
}

.accordions .accordion.is-info .accordion-header {
  background-color: #209cee;
  color: #fff;
}

.accordions .accordion.is-info .accordion-content {
  border-color: #209cee;
  color: #12537e;
}

.accordions .accordion.is-success {
  background-color: #f6fef9;
}

.accordions .accordion.is-success .accordion-header {
  background-color: #23d160;
  color: #fff;
}

.accordions .accordion.is-success .accordion-content {
  border-color: #23d160;
  color: #0e301a;
}

.accordions .accordion.is-warning {
  background-color: #fffdf5;
}

.accordions .accordion.is-warning .accordion-header {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

.accordions .accordion.is-warning .accordion-content {
  border-color: #ffdd57;
  color: #3b3108;
}

.accordions .accordion.is-danger {
  background-color: #fff5f7;
}

.accordions .accordion.is-danger .accordion-header {
  background-color: #ff3860;
  color: #fff;
}

.accordions .accordion.is-danger .accordion-content {
  border-color: #ff3860;
  color: #cd0930;
}

.accordions .accordion.is-purple {
  background-color: #fbf5fe;
}

.accordions .accordion.is-purple .accordion-header {
  background-color: #830fd7;
  color: #fff;
}

.accordions .accordion.is-purple .accordion-content {
  border-color: #830fd7;
  color: #6a0faa;
}

/*************** Accordion *********************/

.firms .accordions .accordion .rw-dropdown-list .rw-widget-picker,
.users .accordions .accordion .rw-dropdown-list .rw-widget-picker {
  height: 2.25rem;
}

/*************************navbar**********************/

.is-gray {
  background-color: #eeeeee;
}

.is-cac-gray {
  background-color: #dedede;
}

.has-orange-text {
  color: $orange-shade;
}

.navbar-link::after {
  border: 1px solid #000000;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.5em;
  pointer-events: none;
  position: absolute;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.5em;
  margin-top: -0.375em;
  right: 0.5em;
  top: 50%;
}

.navbar-item img {
  max-height: 2.5rem !important;
}

.kFPqvF {
  font-size: 16px !important;
}

.rw-i-caret-down:before {
  font-weight: bolder;
  color: $epo-blue;
}

.tp-select-state .rw-i-caret-down:before {
  content: none !important;
}

.rw-i-caret-down:after {
  font-weight: bolder;
  color: #000000;
}

.rw-widget-picker {
  position: relative;
  overflow: hidden;
  border-collapse: separate;
  display: inline-table;
  height: 0.5em;
}

// .hero-body {
//   padding: 1.8rem 1.5rem !important;
// }

/*****************************************************Depak Style********************************************/

///prevent dropdown cutoff issue
#addnewpage {
  overflow: visible;
}

#addnewpage-1 {
  overflow: visible;
}

// Use the Otaras brand colors. Set orange as the bulma primary color variable
$primary: $orange-shade;
$Green: #38a341;
$Blue: $epo-blue;
//lighter than default text font color prefered
$text: grey;
$label-color: grey;

$label-weight: 600;

//switch background color re-set to brand blue;
$switch-background-active: #3982cc;

//box shadow needs to be deeper than default
$box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 10px 4px rgba($black, 0.1);

//Tabs hover border needs to be white
$tabs-toggle-link-hover-border-color: white;

.tabs li a {
  color: white;
  font-weight: 600;

  &:hover {
    border-color: white;
  }
}

//Adi - to take care of 3rd level tabs (otherwise they were not visible at all!)
.tabs .tabSecLevel {
  color: #383838;
}

//accordian header and background values are reset
//$accordion-background-color:white;
//$accordion-header-background-color:#ebf2fa;
//$accordion-header-color:#3982CC;

.accordions {
  margin-bottom: 10px;

  .accordion {
    box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 10px 2px rgba($black, 0.1);
  }
}

//Styling User Dashboard
.dashTableAccHeader {
  $accordion-header-color: white;
}

.dashAccPtag {
  font-size: smaller;
  color: black;
}

.dashTableThTag {
  font-size: small;
  color: grey;
}

.dashExpLbl {
  font-size: small;
  font-weight: bold;
  color: #f29718;
}

input[type="checkbox"] {
  vertical-align: middle !important;
  margin-left: 5px !important;
  border: $epo-blue 1px solid !important;
  color: $epo-blue !important;
  background-color: snow;
}

input[type="checkbox"]:checked {
  vertical-align: middle !important;
  margin-left: 5px !important;
  border: $epo-blue 1px solid !important;
  color: $epo-blue !important;
  background-color: $orange-shade;
}

.multiExpGrpLbl {
  font-size: small;
  font-weight: 900;
  color: #f29718;
}
.dashExpLblVal {
  font-size: smaller;
  color: black;
  @extend %icon-has-text-danger;
}

.emmaTablesTh {
  font-size: smaller;
}

.emmaTablesTd {
  font-size: smaller;
  color: black;
}

//Styling Deal SOE Checklist
.soeExpLblVal {
  font-size: smaller;
  color: black;
}

.soePtagUltraSmall {
  font-size: xx-small;
  color: black;
}

//Styling Bulma Extensions Calendar
$calendar-border: 0.1rem solid $grey-lighter;

//navbar dropdown
$navbar-item-color: grey;

//Hero needs a margin and set background image
.hero {
  margin-bottom: 10px;
  // background: url(".assets/images/banner.jpg");
  background-color: #3982cc;
  // background-color:#F29718;
  // background-color:#38A341;
  background-repeat: no-repeat;
}

.calapp {
  //background: url(".assets/images/calendar.png");
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding-top: 4px;
  height: 75px;
  max-width: 67px;
  margin-top: 16px;
}

.calyear {
  font-size: 12px;
  //  color: #383838;
  color: #f29718;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 0px;
}

.calmonth {
  font-size: 14px;
  line-height: 4px;
  color: #3982cc;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 5px;
}

.calday {
  font-size: 28px;
  font-weight: bold;
  color: #3982cc;
  padding-bottom: 3px;
}

/* Adi - Settings 4.4.18 23.00hrs */

.title {
  color: #f29718;
}

.innerPgTitle {
  color: black;
  font-size: medium;
  text-decoration: underline;

  &.mandatory-field {
    text-decoration: none;
    > p {
      display: inline;
      text-decoration: underline;
    }
    .icon.has-text-danger {
      height: auto;
      vertical-align: middle;
    }
  }
}
.business-activity .innerPgTitle {
  text-decoration: none;
}

.business-activity .is-small {
  color: blue;
}

.business-activity .fa-columns {
  cursor: pointer;
}
.entitypage {
  .button {
    margin-left: 10px;
  }
}

.innerSummaryTitle {
  font-size: small;
  font-weight: 500;
}

.innerContactTitle {
  color: black;
  font-size: medium;
  @extend %icon-has-text-danger;
}

.innerPgBlackTitle {
  color: #000000;
  font-size: medium;
  font-weight: bold;
  text-decoration: underline;
}

.mgmtConTitle {
  color: black;
}

.signUpConTitle {
  color: #f29718;
  font-size: large;
}

.label {
  color: grey;
}

.hpTablesTd {
  font-size: smaller;
}

.isDisabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.control.has-icons-left .input,
.control.has-icons-left .select select {
  padding-left: 2.2rem !important;
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
  z-index: 0;
}

/******************* Radio Buttons **********************/

.radio-button {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-button .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-button:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-button input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-button .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-button .checkmark:after {
  left: 5px;
  top: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}

/* The checkbox-button */
.checkbox-button {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox-button */
.checkbox-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox-button */
.checkbox-button .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-button:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox-button is checked, add a blue background */
.checkbox-button input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-button .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-button input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-button .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/******************** React Table ***************************/

.ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: inset 0 5px 0 0 $orange-shade;
}

.ReactTable .rt-thead .rt-th.-sort-desc {
  box-shadow: inset 0 -5px 0 0 $orange-shade;
}

div.tooltips {
  position: relative;
  display: inline;

  span {
    position: absolute;
    min-width: 150px;
    color: #fff;
    background: $orange-shade;
    height: auto;
    line-height: 25px;
    text-align: center;
    visibility: hidden;
    border-radius: 9px;
    box-shadow: 2px 2px 8px #100b59;
    padding: 5px;
    opacity: 0.9;
    word-wrap: break-word;
    white-space: normal;

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -8px;
      width: 0;
      height: 0;
      border-top: 8px solid $orange-shade;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      z-index: 999;
    }
  }
}

div {
  &:hover.tooltips {
    span {
      visibility: visible;
      bottom: 30px;
      left: 50%;
      z-index: 999;
      display: flex;
    }
  }
}

// .ReactTable .rt-td {
//   z-index:10;
//   overflow: initial;
//   overflow-y: unset;
// }

// .ReactTable .rt-thead .rt-resizable-header {
//   overflow: initial;
//   z-index: 10;
// }

/***************** Calendar *********************/
.rbc-header {
  background-color: #2f5ca9;
  height: 40px;
  text-align: center;
  color: #fff;
  line-height: 2.6 !important;
}

.rbc-header ~ .rbc-header {
  background-color: #3578cc;
  height: 40px;
  text-align: center;
  color: #fff;
}

.rbc-header ~ .rbc-header ~ .rbc-header {
  background-color: #3d8bdd;
  height: 40px;
  text-align: center;
  color: #fff;
}

.rbc-header ~ .rbc-header ~ .rbc-header ~ .rbc-header {
  background-color: #4298ec;
  height: 40px;
  text-align: center;
  color: #fff;
}

.rbc-header ~ .rbc-header ~ .rbc-header ~ .rbc-header ~ .rbc-header {
  background-color: #28a6f0;
  height: 40px;
  text-align: center;
  color: #fff;
}

.rbc-header
  ~ .rbc-header
  ~ .rbc-header
  ~ .rbc-header
  ~ .rbc-header
  ~ .rbc-header {
  background-color: #44b6f1;
  height: 40px;
  text-align: center;
  color: #fff;
}

.rbc-header
  ~ .rbc-header
  ~ .rbc-header
  ~ .rbc-header
  ~ .rbc-header
  ~ .rbc-header
  ~ .rbc-header {
  background-color: #7ecbf4;
  height: 40px;
  text-align: center;
  color: #fff;
}

.rbc-toolbar button.rbc-active {
  background-color: #1285c9;
  color: #fff;
}

.rbc-today {
  background-color: #7ecbf4;
}

.rbc-event-content {
  background-color: $orange-lighter-shade !important;
  color: #fff !important;
}

.rbc-event {
  background-color: $orange-lighter-shade !important;
  color: #fff !important;
}

.rbc-event-content strong {
  color: #fff !important;
}

.rbc-toolbar .rbc-toolbar-label {
  font-size: 20px !important;
  overflow-wrap: break-word;
}

@media screen and (max-width: 704px) {
  .rbc-toolbar {
    word-wrap: normal;
    overflow-wrap: break-word;
    display: initial;
    align-self: center;
  }

  .rbc-btn-group {
    display: inherit;
    white-space: normal;
    font-size: 16px !important;
    overflow-wrap: break-word;
  }

  .rbc-toolbar .rbc-toolbar-label {
    font-size: 18px !important;
    overflow-wrap: break-word;
  }
}

@media screen and (max-width: 824px) {
  .rbc-btn-group {
    display: inherit;
    white-space: normal;
    font-size: 12px !important;
  }

  .rbc-toolbar .rbc-toolbar-label {
    font-size: 14px !important;
    overflow-wrap: break-word;
  }
}

.rbc-agenda-table .rbc-header {
  background-color: #3578cc !important;
  text-align: center !important;
  color: #fff !important;
}

.rbc-agenda-table {
  border-color: #fcfcfc !important;
}

.rbc-agenda-table td {
  border-color: #fcfcfc !important;
}

// .react-table-custom-cell {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     box-sizing: border-box;
//     display: block;
//     padding: 8px;
//     width: 100%;
// }

// .react-table-custom-cell-overflow {
//     box-sizing: border-box;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }
.wrap-cell-text {
  white-space: normal;
}

/******************************** Overloads ************************/

.is-pulled-right {
  text-align: right;
}

.fa-chevron-up:before {
  margin-right: 10px;
}

.fa-chevron-down:before {
  margin-right: 10px;
}

.tabs.is-boxed li.is-active a {
  background-color: rgb(255, 255, 255);
  color: rgb(74, 74, 74);
  border-color: rgb(242, 151, 24);
  border-width: 3px 3px 0px;
}

.hero.is-link .tabs.is-boxed li.is-active a {
  background-color: rgb(255, 255, 255);
  color: rgb(74, 74, 74);
  border-color: rgb(242, 151, 24);
  border-width: 3px 3px 0px;
}

.fa-delete {
  cursor: pointer;
}

.react-autosuggest__input {
  border-color: $epo-blue;
}

.rw-i-caret-down:before {
  content: "▼";
  font-size: 12px;
}

.rw-i-search:before {
  content: "🔎";
  font-size: 12px;
  color: $epo-blue;
}

.fa-2x {
  cursor: pointer;
}

.dealSoE .rw-dropdown-list {
  width: 100%;
}

.firms .accordions .accordion .rw-dropdown-list,
.users .accordions .accordion .rw-dropdown-list {
  min-width: 100px;
}

.tabs li a:hover {
  border-bottom-color: $epo-blue !important;
  border-bottom-width: 2px;
}

.tabs li.is-active a {
  border-bottom-color: $orange-shade;
  border-bottom-width: 2px;
  box-shadow: -1px -5px 6px 5px rgba($black, 0.1);
}

.Select-clear-zone {
  display: none;
}

.Select-control {
  border: 1px solid $epo-blue;
}

.Select-arrow-zone {
  color: $epo-blue !important;
  position: absolute !important;
  right: 0 !important;
  top: 4px !important;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  top: -3px !important;
}

.Select-arrow {
  border-color: $epo-blue transparent transparent;
}

.container {
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 97%;
}

@media screen and (min-width: 1408px) {
  .container {
    margin-left: 1.5%;
    margin-right: 1.5%;
    max-width: 100%;
    width: 97%;
  }
}

@media screen and (min-width: 1216px) {
  .container {
    margin-left: 1.5%;
    margin-right: 1.5%;
    max-width: 100%;
    width: 97%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: 1.5%;
    margin-right: 1.5%;
    max-width: 100%;
    width: 97%;
  }
}

@media screen and (max-width: 769px) {
  .is-touch {
    display: inline !important;
  }
}

@media screen and (min-width: 768px) {
  .is-touch {
    display: none !important;
  }
}

/********************* Old CSS *********************/
.firmProfile {
  .react-autosuggest__suggestions-list {
    max-height: 150px;
    overflow-y: auto;
  }
}

.complain-details {
  .react-autosuggest__container {
    position: relative;
  }

  .react-autosuggest__input {
    /*width: 240px;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;*/

    border-style: none;
    font-size: 0.75rem;
    background-color: white;
    border-color: $border-color;
    color: #363636;
    border-radius: 3px;
    box-shadow: none;
    padding-left: 10px;
    height: 2.25em;
    width: 100%;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  }

  .react-autosuggest__input--focused {
    outline: none;
  }

  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .react-autosuggest__suggestions-container {
    display: none;
  }

  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    width: 100%;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 12px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
    background-color: white;
    border-color: $border-color;
    line-height: 1;
  }

  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
    color: #636060;
  }

  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }
}

.derivative-documents table tr td,
.bank-loan-documents table tr td,
.derivative-counterparties table tr td,
.bankloan table tr td {
  text-align: left;

  .select.is-small {
    max-width: 220px;
  }
}

.multiExpLbl {
  font-size: small;
  font-weight: 900;
  color: black;

  @extend %icon-has-text-danger;
}

.multiExpLblBlk {
  font-size: small;
  font-weight: 900;
  color: black;
  @extend %icon-has-text-danger;
}

.control .multiExpLbl {
  font-size: small;
  font-weight: 900;
  color: black;
}

.multoExpLbl checkbox {
  margin: 5px;
}

.multiExpGrpLbl {
  font-size: small;
  font-weight: 900;
  color: #f29718;
}

.multiExpTblVal {
  font-size: small;
  color: #383838;
  .modal.is-active {
    .modal-card .modal-card-head {
      > p {
        width: 95%;
      }
    }
  }
}

.multiExpTblVal-open {
  font-size: medium;
  color: #6eae0f;
  height: 100%;
  padding: 5px 5px 30px 5px;
  align-self: center;
  // cursor: pointer;
}

.multiExpTblVal-close {
  font-size: medium;
  color: $orange-shade;
  height: 100%;
  padding: 5px 5px 30px 5px;
  align-self: center;
  // cursor: pointer;
}

.dashExpLblVal {
  font-size: smaller;
  color: black;
}

.button.is-light {
  border-color: black;
  margin-left: 5px;
}

.button.is-link {
  border-color: black;
}

.hover-orange:hover {
  color: $orange-shade !important;
}

/******************** bulma table styles **********************/

.table.is-bordered td {
  border-bottom-color: rgb(132, 123, 123);
  border-right-color: $border-color;
}

.table.is-bordered th {
  text-align: center;
  border-color: $border-color;
  background-color: $epo-blue;
  color: white !important;
  font-size: 14px !important;
}

.table.is-bordered th .multiExpLbl {
  color: white !important;
  font-size: 14px !important;
}

.rt-noData {
  background-color: $epo-blue-a !important;
  color: white !important;
  box-shadow: 10px 10px 5px #888888;
}

.ReactTable .rt-thead {
  font-size: 14px !important;
}

.field.is-grouped {
  display: flex;
  justify-content: flex-end;
}

.field.is-grouped-left {
  display: flex;
  justify-content: flex-start;
}

.is-grouped-left .control {
  display: flex;
  justify-content: flex-start;
  padding-right: 20px;
}

.is-grouped-left-without-padding .control {
  display: flex;
  justify-content: flex-start;
}

.is-grouped-center {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.is-grouped-center .control {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

.has-link {
  cursor: pointer;
}

.firms .rw-multiselect-tag,
.users .rw-multiselect-tag {
  margin-left: 5px;
  height: 15px !important;
}

/******************* floating home button *********************/
.label-container {
  position: fixed;
  bottom: 15px;
  right: 60px;
  display: table;
  visibility: hidden;
}

.label-text {
  color: #fff;
  background: $orange-shade;
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
  border-radius: 3px;
  opacity: 0.85;
}

.label-arrow {
  display: table-cell;
  vertical-align: middle;
  color: $orange-shade;
  opacity: 0.85;
}

.float {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 15px;
  right: 15px;
  background-color: $epo-blue;
  color: snow;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  opacity: 0.85;
}

.float:hover {
  background-color: $orange-shade;
}

.my-float {
  font-size: 25px;
  margin-top: 8px;
  opacity: 0.85;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover {
  color: snow;
}

a.float:hover + div.label-container {
  visibility: visible;
  opacity: 1;
}

::selection {
  background: $orange-shade;
  /* WebKit/Blink Browsers */
  color: snow;
}

::-moz-selection {
  background: $orange-shade;
  /* Gecko Browsers */
  color: snow;
}

/******************** Breadcrumb ******************/

.breadcrumbStyle {
  color: snow;
  background-color: $orange-shade !important;
  position: fixed !important;
  top: 55px !important;
  right: 5px !important;
  opacity: 0.85 !important;
  padding-left: 10px;
  border-radius: 30px;
}

.modified-breadcrumb.breadcrumb.has-arrow-separator li + li::before {
  display: none !important;
}

.breadcrumb a {
  color: snow;
  font-size: 12px;
}

/********************* Dashboard Pagination ***************************/
.tool-globalsearch {
  .tool-globalsearch-pagination {
    margin: 0;
  }
  .dashPaginationRight {
    position: relative;
    top: initial;
    right: initial;
  }
  .dashPagination {
    left: 0;
  }

  .dashPaginationRight {
    float: right;
    padding-right: 10px;
  }
}
.dashPagination {
  position: absolute;
  top: 30px;
  left: 25px;
}

.dashPaginationRight {
  position: absolute;
  top: 30px;
  right: 25px;
}

.dashPaginationProj {
  position: absolute !important;
  top: 15px !important;
  left: 25px !important;
}

.dashPaginationRightProj {
  position: absolute !important;
  top: 15px !important;
  right: 25px !important;
}

@media screen and (max-width: 1024px) {
  .dashPagination {
    position: absolute !important;
    top: 3px !important;
    left: 25px !important;
  }

  .dashPaginationRight {
    position: absolute !important;
    top: 3px !important;
    right: 25px !important;
  }

  .dashPaginationProj {
    position: absolute !important;
    top: -10px !important;
    left: 25px !important;
  }

  .dashPaginationRightProj {
    position: absolute !important;
    top: -10px !important;
    right: 25px !important;
  }
}

.link-innerPgTitle {
  color: black;
  font-size: medium;
}

.link-withouthover {
  color: #4288dd !important;
  width: 150px !important;
  padding-right: 5px;
  text-decoration: underline;
}

.link-hover:hover {
  color: #f29718 !important;
}

.margin-topTen {
  margin-top: 10px;
}

.margin-topTwenty {
  margin-top: 20px;
}

.column25 {
  display: block;
  // flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  // padding: 0.25rem;
}

.border-withul {
  border: 1px solid #4288dd;
  border-radius: 3px;
  padding: 20px;
}

.float-padding-rb {
  float: right;
  padding-right: 10px;
  padding-bottom: 15px;
}

.border-withul ul li::before {
  content: "\2022";
  color: #4288dd;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.without-border-withul ul li::before {
  content: "\2022";
  color: #4288dd;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

/*********************** Toastify **********************/

.Toastify__toast--info {
  background-color: #00b9b9;
}

.Toastify__toast--success {
  background-color: #6eae0f;
}

.Toastify__toast--warning {
  background-color: #d29c0b;
}

.Toastify__toast--error {
  background-color: #ff043a;
}

.Toastify__toast--default {
  background-color: #a3a3a3;
}

/*********************** Other Styles **********************/

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 8px #4398f3;
}

button:focus + .is-link{
  box-shadow: 0 0 4px #2196f3 !important;
}

.button.is-light:focus{
  box-shadow: 0 0 4px #5C5C5C !important;
}

.button.is-link:focus{
  box-shadow: 0 0 4px #2196f3 !important;
}

.radio-button .checkmark:focus{
  box-shadow: 0 0 4px #2196f3 !important;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.revenue .table-header {
  padding: 0;
  border: 1px solid #b3b0b0;
  text-align: center;
  line-height: 45px;
  box-shadow: none !important;
  background-color: #4288dd !important;
  color: white !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
}

.revenue .table-data {
  padding: 0;
  border: 1px solid #b3b0b0;
  text-align: center;
  line-height: 20px;
  max-height: 650px;
  overflow-x: auto;
}

.revenue .padder {
  padding: 15px;
  overflow: auto;
}
.revenue .table-mobile-view {
  display: flex;
  // overflow-x: auto;
}

.revenue .total {
  line-height: 45px;
}

@media only screen and (max-width: 767px) {
  .revenue .table-mobile-view {
    width: 1000px;
  }
}

.extra-small-icon {
  font-size: 0.5em;
}

.rw-multiselect-tag > span {
  font-size: 0.75em;
}

.borrower-table {
  overflow-x: auto;
  min-height: 400px;
}

.span-with-border-radius {
  border-radius: 5px;
  background-color: #f6f6f6;
  margin-top: 10px;
  padding-left: 10px;
  display: flex;
}

.view-only-mode {
  pointer-events: none;
}

/**************************** Password Validations ******************************/

.li-true:before {
  color: $epo-blue;
  font-size: 12px;
  content: "\2713 ";
  margin-left: 30px;
}

.li-false:before {
  color: $orange-shade;
  content: "• ";
  font-size: 12px;
  margin-left: 30px;
}

.li-true {
  color: $epo-blue;
  font-size: 12px;
}

.li-false {
  color: $orange-shade;
  font-size: 12px;
}

.rw-widget-input.rw-input {
  font-size: 0.7rem;
}
.pl-10 {
  padding-left: 10px;
}
.plr-20 {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/****************** Context Menu ************************/

.react-contextmenu {
  background-color: rgb(221, 219, 219);
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  color: #0a0a0a;
  font-size: 16px;
  margin: 2px 0 0;
  min-width: 160px;
  outline: none;
  opacity: 0;
  padding: 5px 0;
  pointer-events: none;
  text-align: left;
  transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999;
}

.react-contextmenu-item {
  background: 0 0;
  border: 0;
  color: #373a3c;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.5;
  padding: 3px 20px;
  text-align: inherit;
  white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
  color: #878a8c;
}

.react-contextmenu-item--divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: inherit;
  margin-bottom: 3px;
  padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
}

.view-only-mode-overridden {
  pointer-events: auto;
}

.choose-entity {
  .tile.is-parent {
    flex-basis: inherit;
  }
}

.expdetails {
  flex-basis: 0%;
}

.roltype {
  flex-basis: 0%;
}

.sort-asc {
  box-shadow: inset 0 5px 0 0 #f29718;
}

.sort-desc {
  box-shadow: inset 0 -5px 0 0 #f29718;
}

.rolebtn {
  flex-basis: 0%;
}
.rw-multiselect-tag-no-clear {
  opacity: 0.5;
  color: blue;
  background-color: beige;
}

.rw-multiselect-tag-no-clear + div {
  display: none;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .users-list-container {
    .tile.is-vertical {
      display: flex;
    }
  }
  .navbar-end {
    &.is-hidden-touch.ipad-nav {
      display: block !important;
      padding: 0 15px 20px 10px;
      margin: 0;
      width: 100%;
    }
    .css-1py3auy {
      padding-left: 10px;
      padding-bottom: 10px;
      display: inline-block;
      width: 30%;
    }
    /*, .navbar-item.navbar-item-config.is-hidden-touch.is-hoverable.has-dropdown */
    a.navbar-item {
      display: inline !important;
    }
    .navbar-item {
      &.is-hidden-touch {
        display: block !important;
        &.is-hoverable.has-dropdown {
          display: block !important;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .ipad-nav {
    margin-left: -154px;
  }
  .navbar-dropdown.is-right {
    right: 30px;
  }
}

.supervisor-summary-view {
  .ReactTable .rt-th,
  .ReactTable .rt-td {
    overflow: visible;
  }
}

//.manage-documents {
//  .static-folder {
//    background-color: #209cee;
//    border-color: transparent;
//    color: #fff;
//  }
.danger-folder {
  background-color: #23d160;
  border-color: transparent;
  color: #fff;
}
.success-folder {
  background-color: #23d160;
  border-color: transparent;
  color: #fff;
}
//  .round-folder {
//    border-radius: 290486px;
//    padding-left: 1em;
//    padding-right: 1em;
//    background-color: rgb(232, 240, 254);
//  }
//}

.pac-container:after {
  display: none !important;
}
.reactive-search-pagination {
  text-align: left !important;
  font-size: 9px;

  a.active {
    background-color: $epo-blue;
  }

  a.active:hover {
    color: white;
  }

  @media (min-width: 922px) {
    text-align: right !important;
    font-size: 12px;
  }
}

.pac-container:after {
  display: none !important;
}

.rw-combobox .rw-popup-container,
.rw-multiselect .rw-popup-container,
.rw-dropdown-list .rw-popup-container {
  z-index: 5;
}

.main-logo {
  width: 162px;
  position: fixed;
  top: 6px;
  height: 45px;
  z-index: 22;
  left: 9px;
}

.navbar.is-fixed-bottom,
.navbar.is-fixed-top {
  z-index: 21;
}

.reactive-search-pagination {
  text-align: right;

  a.active {
    background-color: $epo-blue;
  }

  a.active:hover {
    color: white;
  }
}

.overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom-tooltip {
  max-width: 300px;
  height: auto !important;
  white-space: normal !important;
}

@media screen and (min-width: 1023px) {
  #navMenuDocumentation {
    margin-left: 180px;
  }
}

.rbc-calendar {
  min-width: 1100px;
}

.rbc-month-row {
  // min-height: 110px;
}

.react-phone-number-input__input {
  border: 1px solid #4288dd !important;
  border-radius: 2px !important;
  font-size: 12px;
  padding: 3px;
}

.react-phone-number-input__error {
  font-size: 10px;
  padding-left: 15px;
  color: #ff0000 !important;
}

.react-phone-number-input__country-select {
  font-weight: 100;
  font-size: 12px;
}

.py-o {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.text-right {
  text-align: right !important;
}

.overflow-auto {
  overflow: auto !important;
}

.is-pulled-left {
  float: left !important;
}

.ReactTable {
  .Select-control {
    min-height: 20px !important;
    height: auto !important;
    .Select-value-icon {
      float: right !important;
    }
    .Select-value {
      background: #eee !important;
      color: inherit !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .tbl-scroll {
    overflow-x: auto;
  }
  .search-table-block {
    padding-left: 0;
    padding-right: 0;
  }
  .plr-20 {
    padding-left: 5px;
    padding-right: 5px;
  }
  #main {
    padding: 20px 5px !important;

    .accordions
      .accordion
      .accordion-header
      + .accordion-body
      .accordion-content {
      padding: 1em 5px !important;
    }
    .box {
      padding: 1.25rem 5px;
    }
  }
}
@media screen and (max-width: 767px) {
  .table.is-fullwidth {
    min-width: 600px;
  }
}

.custom-dropdown-list {
  position: relative;
  min-width: 100px;
}

.custom-dropdown-close {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 7px;
  color: #4a4a4a;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
  width: 100%;
}

.checklist-edit-icon {
  color: #ffffff;
  cursor: pointer;
}

.rbc-calendar {
  .rbc-row-content {
    .rbc-row {
      .rbc-row-segment {
        z-index: 1;
      }
    }
  }
}

.hero.is-link .tabs.is-boxed a:focus, .hero.is-link .tabs.is-toggle a:focus{
  background-color: rgba(10, 10, 10, 0.1);
}

.hero.is-link .tabs a:focus{
  opacity: 1 !important;
}

.tabs li a:focus{
  border-bottom-color: #4288dd !important;
  border-bottom-width: 2px;
}

.tabs li a:focus{
  border-color: #ffffff !important;
}

.input.is-link:focus{
  box-shadow: 0 0 0 0.125em rgba(66, 136, 221, 0.49) !important;
}

.select.is-link select:focus{
  box-shadow: 0 0 0 0.125em rgba(66, 136, 221, 0.49) !important;
}

.textarea:focus{
  box-shadow: 0 0 0 0.125em rgba(66, 136, 221, 0.49) !important;
}

.rw-state-focus>.rw-widget-container{
  box-shadow: 0 0 0 0.125em rgba(66, 136, 221, 0.49) !important;
  background-color: unset;
  border-color: #4288dd;
}

.word-break-space {
  word-break: break-all;
  white-space: normal;
}

.type {
  &:hover {
    background-color: #e8e8e8;
    border-radius: 5px
  }
}
