/*************** Variables *********************/

$orange-shade: rgb(242, 151, 24);
$blue-shade: rgb(66, 136, 221);

/*************** React Table *********************/
.ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: inset 0 5px 0 0 $orange-shade;
}

.ReactTable .rt-thead .rt-th.-sort-desc {
  box-shadow: inset 0 -5px 0 0 $orange-shade;
}

.ReactTable .rt-thead .rt-resizable-header {
  overflow: hidden;
}

.ReactTable .rt-thead.-header {
  box-shadow: none !important;
  background-color: $blue-shade !important;
  color: rgb(255, 255, 255) !important;
  font-weight: bold !important;

}

.ReactTable .rt-td {
  border-bottom: 1px solid #847b7b !important;
  border-right: 1px solid #dbdbdb !important;
}

.ReactTable .rt-tbody .rt-tr-group:last-child .rt-td {
  border-bottom: 0 !important;
}

.ReactTable .rt-tbody {
  border-left: 1px solid #847b7b !important;
  border-bottom: 1px solid #847b7b !important;
  border-right: 1px solid #847b7b !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.ReactTable {
  border: 0 !important;
}

.ReactTable .rt-th:not(:last-child) {
  border-right: 1px solid #dbdbdb !important;
}

.ReactTable .rt-th {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

/*************** Calendar *********************/
.rbc-toolbar button.rbc-active {
  background-color: #1285c9 !important;
  color: #fff !important;
}

/*************** DropDown *********************/

.rw-dropdown-list-input,
.rw-list {
  font-size: .75rem
}

rw-multiselect rw-widget {
  z-index: 10000;
}

.DocumentTable .rt-td {
  white-space: normal !important;
}

/*************** Phone Number Input *********************/
.react-phone-number-input__country-select {
  font-weight: 100;
  font-size: 12px;
}
