@charset "utf-8"

/***************Bulma Customization*********************/

$epo-blue: 	rgb(66, 136, 221)
$blue: $epo-blue
$link: $epo-blue
$family-sans-serif: 'GoogleSans'
$orange-shade: rgb(242, 151, 24)

$section-btn-red : #FF3434
$section-btn-blue: $epo-blue
$section-btn-orange: $orange-shade

$section-btn-red-hover : #FF7272
$section-btn-blue-hover: #77B2FF
$section-btn-orange-hover: #FFBB70

$table-striped-row-even-hover-background-color: rgb(213,235,255);
$table-striped-row-even-background-color: rgba(0,0,0, 0.03);
/***************Bulma Customization*********************/

@import "~bulma/bulma.sass"

/*************** Custom local *********************/

.top-bottom-margin
    margin-top: 1.5rem
    margin-bottom: 1.5rem

.left-right-margin
    margin-left: 25px
    margin-right: 25px

.css-dnqvel
    height: 27px !important
    font-size: 0.8rem !important

#main
    transition: margin-left .5s
    padding: 20px
    overflow: hidden
    width: 100%
    min-height: 100vh
    padding-bottom: 65px

.hero-footer-padding
    padding-top: 15px

.box
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 10px 2px rgba(10, 10, 10, 0.1) !important

.padding-3px
    padding: 3px !important


.hero-head, .hero-foot
    flex-grow: 0
    flex-shrink: 0
    padding-top: 15px !important



.navbar-dropdown a.navbar-item:hover
    background-color: $blue !important
    color: #fff !important

.navbar-dropdown
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important

.breadcrumb.has-succeeds-separator li + li::before
    content: "⇾"
    color: $white
    font-size: 20px

.has-background-black
    background-color: hsl(0, 0%, 21%) !important

.ReactTable .rt-thead .rt-resizable-header-content
    font-size: 14px;


.cac-table .ReactTable .rt-thead .rt-resizable-header-content
    font-size: 12px;
    


/*************** Custom local *********************/
.select:not(.is-multiple) .select-hack::after
    display: none !important


.has-background-dark
    background-color: hsl(0, 0%, 21%) !important
    color:  #fff !important

.firms .accordions .accordion .rw-dropdown-list .rw-widget-picker, .users .accordions .accordion .rw-dropdown-list .rw-widget-picker
    height: 1.75rem !important

.third-party-select-hack .rw-i-caret-down:before
    display: none !important

.rw-multiselect .rw-input-reset
    height: calc(2.1em) !important
    font-size: 12px
    vertical-align: bottom

.third-party-select-hack .rw-widget-picker
    height: 1.8rem !important

.ReactTable .-pagination .-btn
    min-width: 80px !important
    max-width: 90px !important

.ReactTable .-pagination .-previous, .ReactTable .-pagination .-next
    flex: 0 !important

.ReactTable .-pagination
    justify-content: center !important
    padding-top: 10px

.ReactTable .-pagination .-center
    flex: none !important

.rw-widget-picker
    height: 1.8rem !important

.navbar-link
    padding-left: 0.3rem !important
    padding-right: 2rem !important

.navbar-item
    padding-left: 0.7rem !important
    padding-right: 0.7rem !important

.navbar-item.has-dropdown
    padding: 0 !important

// .navbar.is-fixed-top
//     left: 28px !important
//     right: 28px !important

// @media screen and (max-width: 1024px)
//     .navbar.is-fixed-top
//         left: 0px !important
//         right: 0px !important


@media screen and (max-width: 1336px)
    .ipad-nav
        padding-right: 50px
@media screen and (max-width: 1336px)
    .ipad-nav
        padding-right: 50px
        margin-left: -120px
.ipad-nav
    width: 50%

.section-padding-0
    padding: 0 !important
    border-radius: 10px
    border: 2px solid #d8d6d6

.section-subtitle
    padding-top: 50px !important
    padding-left: 30px !important
    padding-right: 30px !important
    min-height: 156px !important

    &:hover
        opacity: .5

.section-link
    height: 60px !important
    background: rebeccapurple !important
    line-height: 2.2 !important
    text-transform: uppercase !important
    font-size: 25px !important
    color: #fff !important
    border-bottom-right-radius: 8px !important
    border-bottom-left-radius: 8px !important

.section-btn-red
    background-color: $section-btn-red !important

    &:hover
      background-color: $section-btn-red-hover !important

.section-btn-blue
    background-color: $section-btn-blue !important

    &:hover
      background-color: $section-btn-blue-hover !important

.section-btn-orange
    background-color: $section-btn-orange !important

    &:hover
      background-color: $section-btn-orange-hover !important

.notification a:not(.button)
    color: #fff !important

// .ReactTable .rt-table, .ReactTable .rt-tbody
//     overflow: unset !important
//     text-overflow: ellipsis !important

// .hpTablesTd a, .hpTablesTd p, .rt-td.multiExpTblVal small, .rt-td a
//     display: block !important
    // overflow: hidden !important
    // font-size: 13px !important

.hpTablesTd,.hpTablesTd small,table td,table td small
  font-size: 13px !important


.navbar-link
    padding-left: 0.3rem !important
    padding-right: 2rem !important

.navbar-item
    padding-left: 0.7rem !important
    padding-right: 0.7rem !important

.navbar-item.has-dropdown
    padding: 0 !important


// .top-bottom-margin div
//     overflow: visible !important;
// .top-bottom-margin div,.ReactTable .rt-td
//     overflow: visible !important

// .accordions .accordion.is-active .accordion-body
//     overflow: auto !important

.accordions .accordion .accordion-body.acco-hack
    display: none !important
.accordions .accordion.is-active .accordion-body.acco-hack
    display: block !important


.ReactTable .rt-thead .rt-resizable-header-content
    overflow: hidden !important
    text-overflow: ellipsis

.text-error
    color: #FF0000 !important
    font-size: 0.6rem !important
    font-weight: bold !important

.download-pdf
    display: inline-block !important
    margin-left: 10px !important

.checklist-anchor
    width: 150px
    display: block
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

.multi-select-hack .rw-i-caret-down:before
    display: none !important

.overflow-auto
    overflow-x: auto !important
    overflow-y: hidden

.d-flex
    display: flex !important

.w-100
     width: 100% !important

.select-arrow-hack::after
    display: none !important

.rw-widget-container
  border: $epo-blue 1px solid

.delete-left-padding
    padding-left: 10px

.Select-control
    display: flex !important
    height: 28px !important

.Select-placeholder, .Select--single > .Select-control .Select-value
    top: -3px !important

@media only screen and (min-width : 769px) and (max-width : 1024px)
    .section-subtitle 
        min-height: 200px !important

@media only screen and (min-width : 769px) and (max-width : 1361px)
    .entitypage .is-3
        width:auto !important

    .entitypg .is-3
        width:auto !important

    .processchklist .is-grouped
        display:inherit !important
    
@media only screen and (max-width:1024px) and (orientation: landscape)
    .navbar-item .fa-envelope
        padding-right:0.3rem !important

    .navbar-item .fa-adn
        padding-right:0.1rem !important
        padding-left:0.1rem !important

    .no-wrap-date
        width:100px !important
    


  