.ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: inset 0 5px 0 0
}

.ReactTable .rt-thead .rt-th.-sort-desc {
  box-shadow: inset 0 -5px 0 0
}

.ReactTable .rt-thead .rt-resizable-header {
  overflow: hidden;
}

.ReactTable .rt-thead.-header {
  box-shadow: none !important;
  background-color: #4288dd !important;
  color: rgb(255, 255, 255) !important;
  font-weight: bold !important;
}

.ReactTable .rt-td {
  border-bottom: 1px solid #847b7b !important;
  border-right: 1px solid #dbdbdb !important;
}

.ReactTable .rt-tr-group:not(:last-child) .rt-td {
// border-bottom: 1px solid #847b7b !important;
}

.ReactTable .rt-tbody .rt-tr-group:last-child .rt-td {
//background-color: red !important;
  border-bottom: 0 !important;
}

.ReactTable .rt-tbody {
  border-left: 1px solid #847b7b !important;
  border-bottom: 1px solid #847b7b !important;
  border-right: 1px solid #847b7b !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.ReactTable {
  border: 0 !important;
//border: 1px solid #dbdbdb !important;
//background-color: lightgray !important;
// border: 1px solid #847b7b !important;
//padding: 15px !important;
//border-bottom: 1px solid #312f2f !important;
// border-right: 1px solid #847b7b !important;
// border-bottom: 1px solid #847b7b !important;
}

.ReactTable .rt-th:not(:last-child) {
  border-right: 1px solid #dbdbdb !important;
}

.ReactTable .rt-th {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

/***************** Calendar *********************/
.rbc-toolbar button.rbc-active {
  background-color: #1285c9 !important;
  color: #fff !important;
}

/***************** DropDown *********************/
.rw-dropdown-list-input, .rw-list {
  font-size: 0.75rem;
}

rw-multiselect rw-widget {
  z-index: 10000;
}

.DocumentTable .rt-td {
  white-space: normal !important;
}

.react-phone-number-input__country-select {
  font-weight: 100;
  font-size: 12px;
}
