.window__main {
  grid-area: main;
  position: relative;
  width: calc(100vw - 14vw); // calc(100vw - 240px);
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    width: calc(100vw - 26vw); // calc(100vw - 240px);
  }
}

.empty__state {
  height: 100%;
  width: 100%;
  @include flex(center, center);
  flex-direction: column;
  margin-top: 30px;
  font-size: small;
}

.window__main__grid__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 120px;
    flex: 1 1 120px;
    max-width: 130px;
    height: 150px;
    border-top: none;
    margin: 5px 0 0 5px;
    text-align: center;
    border: 1px solid #eee;
    &:hover {
      background: rgba(#000, 0.05);
    }
  }
  .item__thumbnail {
    width: 100%;
    height: 120px;
    @include flex(center, center);
    div {
      height: 50px;
      width: 50px;
      background: #7b777747;
    }
  }
}

.file_sidebar {
  border-width: 1px 1px 0 0;
  border-right-style: solid;
  border-right-color: rgb(220, 218, 217);
  overflow-y: auto;
  display: inline-block;
  width: 15%;
  height: 100vh;
  background-color: white;
  padding: 15px;

  /* Tablet */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    width: 30%;
  }

  /* Phone Portrait */
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    width: 45%;
  }

  /* Phone Landscape */
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    width: 30%;
  }
}

.react-contextmenu {
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
}

.file-listing {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-right-width: 0;
  border-bottom-width: 0;
  margin-top: 0;
  margin-left: -1px;
  width: 100%;
  height: 75vh;

  /* Tablet */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    width: 100%;
  }

  /* Phone Portrait */
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    width: 100%;
  }

  /* Phone Landscape */
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    width: 100%;
  }
}

.text-wrap {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file_search_input {
  width: 100%;
  border: none;
  border-left: 1px solid #a4a5a761;
  border-bottom: 1px solid #a4a5a761;
  padding: 10px;
}
