.taskcontainer {
    padding: 5px;
    background-color: #E3F2FD;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: center;
  }
  .taskcontainer .boardcontainer {
    padding: 10px;
    display: grid;
    width: 100%;
    grid-template-rows: 40px 40px;
    grid-auto-columns: 90%;
    grid-auto-rows: 80px;
    align-content: center;
    justify-content: center;
    grid-gap: 5px;
  }
  .taskcontainer .boardcontainer .boardheader {
    padding: 3px;
    text-align: center;
    background-color: #ee7652;
    width: 100%;
    width: 100%;
  }
  .taskcontainer .boardcontainer .boarditemadd {
    padding: 3px;
    font-size: 2em;
    color:white;
    text-align: center;
    background-color: #242064;
    width: 100%;
  }
  .taskcontainer .boardcontainer .boarditemadd:hover {
    cursor: pointer;
    box-shadow: 2px 2px #cfd8dc;
  }
  .taskcontainer .boardcontainer .boarditem {
    padding: 3px;
    background-color: #f8f7ed;
    width: 100%;
  }
  .taskcontainer .boardcontainer .boarditem:hover {
    cursor: pointer;
    box-shadow: 2px 2px #cfd8dc;
  }
  