.firms,
.users {
  .accordions .accordion {
    .accordion-header+.accordion-body {
      overflow-y: unset;
    }

    //.rw-dropdown-list {
    //  min-width: 200px;
    //
    //  .rw-widget-picker {
    //    height: 1.429em;
    //  }
    //}
  }

  .rw-multiselect-tag {
    padding: 0;
    font-size: 11px;
    height: 20px;
  }

  .rw-multiselect .rw-input-reset {
    height: unset;
  }
}

.deletealiases,
.deleteadressaliases {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.deletealiases .input {
  padding-right: 25px;
  max-width: 270px;
  min-width: 150px;
}

.deleteadressaliases .input {
  padding-right: 25px;
}

.deletealiases .fa-delete,
.deleteadressaliases .fa-delete {
/*  position: absolute;
  right: 0px;
  top: 0px;
  border-left: 2px solid #dbdbdb;*/
  height: 27px;
  padding: 0px 5px 5px 5px;
}

.custom-ui {
  text-align: center;
  width: 100%;
  padding: 40px;
  background: #fafafa;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
  color: #fff;
}

.custom-ui p {
  color: black
}

.custom-ui>button {
  width: 160px;
  padding: 10px;
  border: 1px solid #fff;
  margin: 10px;
  cursor: pointer;
  background: #808080;
  color: #fff;
  font-size: 14px;
}
