.facet-wrapper {
  padding: 10px;
  box-shadow: #000;
}

.facet-title {
  font-size: 24px;
  align-items: center;
  font-weight: bold;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
}

.facet-item-wrapper {
  border: 1px solid #dfdfdf;
  padding: 10px;
}

.facet-item-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .search-filter-title {
    font-size: 18px;
  }
}

.icons {
  cursor: pointer;
}

.filter-open {
  font-size: 20px;
  margin-top: 25px;
}

.filter-close {
  font-size: 20px;
}

.searchContainer {
  position: relative;
}

.nsInput {
  padding-left: 12px !important
}

.customInput {
  height: 2.25em !important;
  padding-left: 40px !important;
}

.searchIcon {
  // position: absolute;
  // left: 5px;
  // top: 6px;
  // font-size: 12px;

  position: absolute;
    left: 0;
    top: 0px;
    font-size: 15px;
    background: black;
    height: 100% !important;
    width: 2rem !important;
    color: #fff;
}

.customPagination {
  display: none;
}
