body {
  font-family: Helvetica, sans-serif;
}

.status {
  line-height: 52px;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  color: black;
  /* font-family: Helvetica, sans-serif; 
  font-weight: 300;
  font-size: 16px;*/
  max-height: 200px;
  overflow: auto;
  font-size: 1em;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
  border: #ccc 1px solid;
  background: #fff
}

.react-autosuggest__suggestions-container--open>p {
  padding: 10px 10px
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: .143em .75em;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
