.distributeRFP {
  .rw-dropdown-list {
    width: 200px;
    .rw-widget-picker {
      height: 1.429em;
    }
  }

  .accordions .accordion {
    .accordion-header + .accordion-body {
      overflow-y: unset;
    }
  }
  .rw-multiselect-tag{
    padding: 0;
    font-size: 11px;
    height: 20px;
  }
  .rw-multiselect .rw-input-reset {
    height: unset;
  }
}

.doc-view{
  .rw-dropdown-list {
    width: 100%;
  }
}
